<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002878343355-bumb165p5dou5pco7bvo6bnigmc4v0g0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002878343355-bumb165p5dou5pco7bvo6bnigmc4v0g0</string>
	<key>API_KEY</key>
	<string>AIzaSyCzAYYdAy3VCIMf9wtmhu0qAFW69WCdjdM</string>
	<key>GCM_SENDER_ID</key>
	<string>1002878343355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.olayinkakareem.fivegames</string>
	<key>PROJECT_ID</key>
	<string>fivegames-20069</string>
	<key>STORAGE_BUCKET</key>
	<string>fivegames-20069.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002878343355:ios:66e798dda8a416e492f19e</string>
	<key>DATABASE_URL</key>
	<string>https://fivegames-20069.firebaseio.com</string>
</dict>
</plist>